<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.mooc.mapper.course_wareMapper">
  <resultMap id="BaseResultMap" type="com.mooc.mooc.model.course_ware">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="section_id" jdbcType="INTEGER" property="sectionId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="download_flag" jdbcType="INTEGER" property="downloadFlag" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_ware
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mooc.mooc.model.course_ware">
    insert into course_ware (id, section_id, user_id, 
      title, name, type, 
      size, state, download_flag, 
      upload_time)
    values (#{id,jdbcType=INTEGER}, #{sectionId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{downloadFlag,jdbcType=INTEGER}, 
      #{uploadTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mooc.mooc.model.course_ware">
    update course_ware
    set section_id = #{sectionId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      download_flag = #{downloadFlag,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, section_id, user_id, title, name, type, size, state, download_flag, upload_time
    from course_ware
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, section_id, user_id, title, name, type, size, state, download_flag, upload_time
    from course_ware
  </select>
</mapper>