<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.mooc.mapper.CourseInfoMapper">
  <resultMap id="BaseResultMap" type="com.mooc.mooc.model.CourseInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="intro" jdbcType="VARCHAR" property="intro" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="target" jdbcType="VARCHAR" property="target" />
    <result column="reference" jdbcType="VARCHAR" property="reference" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="teacher_id" jdbcType="INTEGER" property="teacherId" />
    <result column="teacher_name" jdbcType="VARCHAR" property="teacherName" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="course_state" jdbcType="INTEGER" property="courseState" />
    <result column="check_state" jdbcType="INTEGER" property="checkState" />
    <result column="course_authority" jdbcType="INTEGER" property="courseAuthority" />
  </resultMap>
  <resultMap id="ExtendedResultMap" type="com.mooc.mooc.vo.CourseInfoVO" extends="BaseResultMap">
    <result column="school" jdbcType="VARCHAR" property="school" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from course_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mooc.mooc.model.CourseInfo">
    insert into course_info (id, name, type, 
      intro, detail, target, 
      reference, photo, teacher_id, 
      teacher_name, open_time, close_time, 
      course_state, check_state, course_authority
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{intro,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{target,jdbcType=VARCHAR}, 
      #{reference,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{teacherId,jdbcType=INTEGER}, 
      #{teacherName,jdbcType=VARCHAR}, #{openTime,jdbcType=TIMESTAMP}, #{closeTime,jdbcType=TIMESTAMP}, 
      #{courseState,jdbcType=INTEGER}, #{checkState,jdbcType=INTEGER}, #{courseAuthority,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mooc.mooc.model.CourseInfo">
    update course_info
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      reference = #{reference,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=INTEGER},
      teacher_name = #{teacherName,jdbcType=VARCHAR},
      open_time = #{openTime,jdbcType=TIMESTAMP},
      close_time = #{closeTime,jdbcType=TIMESTAMP},
      course_state = #{courseState,jdbcType=INTEGER},
      check_state = #{checkState,jdbcType=INTEGER},
      course_authority = #{courseAuthority,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, type, intro, detail, target, reference, photo, teacher_id, teacher_name, 
    open_time, close_time, course_state, check_state, course_authority
    from course_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, type, intro, detail, target, reference, photo, teacher_id, teacher_name,
    open_time, close_time, course_state, check_state, course_authority
    from course_info
  </select>
  <select id="queryAll" parameterType="com.mooc.mooc.model.CourseInfo" resultMap="BaseResultMap">
    select id, name, type, intro, detail, target, reference, teacher_id, teacher_name,
    open_time, close_time, course_state, check_state, course_authority, picture
    from course_info
    <where>
      <if test="name!=null and name!=''">
        and name like concat('%',#{name},'%')
      </if>
      <if test="type!=null and type!=''">
        and type=#{type}
      </if>
      <if test="teacherName!=null and teacherName!=''">
        and teacher_name=#{teacherName}
      </if>
    </where>
    order by open_time desc
  </select>
  <select id="selectVO" parameterType="java.lang.Integer" resultMap="ExtendedResultMap">
    select c.id, c.name, c.type, c.intro, c.detail, c.target, c.reference, c.photo, c.teacher_id, c.teacher_name,
    c.open_time, c.close_time, c.course_state, c.check_state, c.course_authority, u.school
    from course_info as c
    inner join user_info as u on c.teacher_id=u.user_id
    where c.id = #{id}
  </select>
<!--  <select id="selectBySchool" parameterType="java.lang.String" resultMap="BaseResultMap">-->
<!--    select c.id, c.name, c.type, c.intro, c.photo, c.teacher_id, c.teacher_name,-->
<!--    c.open_time, c.close_time, c.course_state, c.check_state, c.course_authority-->
<!--    from course_info as c-->
<!--    inner join user_info as u on c.teacher_id=u.user_id-->
<!--    where c.check_state=1 and u.school=#{school}-->
<!--  </select>-->
</mapper>