<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.mooc.mapper.SubjectiveQuestionMapper">
  <resultMap id="BaseResultMap" type="com.mooc.mooc.model.SubjectiveQuestion">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="resolution" jdbcType="VARCHAR" property="resolution" />
    <result column="score" jdbcType="DOUBLE" property="score" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from subjective_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mooc.mooc.model.SubjectiveQuestion">
    insert into subjective_question (id, course_id, content, 
      answer, resolution, score
      )
    values (#{id,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{resolution,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mooc.mooc.model.SubjectiveQuestion">
    update subjective_question
    set course_id = #{courseId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      resolution = #{resolution,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, course_id, content, answer, resolution, score
    from subjective_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, course_id, content, answer, resolution, score
    from subjective_question
  </select>
</mapper>