<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mooc.mooc.mapper.TeacherOfCourseMapper">
  <resultMap id="BaseResultMap" type="com.mooc.mooc.model.TeacherOfCourse">
    <id column="course_id" jdbcType="INTEGER" property="courseId" />
    <id column="teacher_id" jdbcType="INTEGER" property="teacherId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from teacher_of_course
    where course_id = #{courseId,jdbcType=INTEGER}
      and teacher_id = #{teacherId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mooc.mooc.model.TeacherOfCourse">
    insert into teacher_of_course (course_id, teacher_id)
    values (#{courseId,jdbcType=INTEGER}, #{teacherId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select course_id, teacher_id
    from teacher_of_course
  </select>
</mapper>